{#
/**
 * @file
 * bootstrap-select picker field widget implementation.
 *
 * Available variables:
 * - attributes: HTML attributes for the <select> tag.
 * - options: The <option> element children.
 *
 * @see template_preprocess_select()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('bootstrap_select/package') }}
{{ attach_library('bootstrap_select/init') }}

{%
  set classes = [
  'form-control',
  'bootstrap-select',
]
%}
{% apply spaceless %}
  <select{{ attributes.addClass(classes) }}>
    {% for option in options %}
      <option value="{{ option.value }}"{{ option.selected ? ' selected="selected"' }}>{{ option.label }}</option>
    {% endfor %}
  </select>
{% endapply %}
